<h1 class="title"  id="timeline-wrapper">{{site.timeline_title}}</h1>
<p class="subtitle">
Trishna has touched a bunch of lives over time and they all came forward to put this together for her. From the latest to the oldest!
</p>

<div class="timeline-wrapper">
  <ul class="timeline">
    {% for event in site.data.timeline %}
      {% if event.timeline-side == 'left' %}
        <li>
          <div class="direction-l">
            <div class="flag-wrapper">
              <span class="time-wrapper">
                <span class="time neumorphism-card">{{event.date}} with {{event.by}}</span>
              </span>
	      <span class="flag">
		<div class="picture-container" data-aos="zoom-in-right" data-aos-duration="3000">
		  <div class="polaroid">
		    <img src={{event.img}} />
		    {{event.quote}}
		  </div>
		</div>
              </span>
            </div>
          </div>
	 <hr/>
        </li>
      {% endif %}

      {% if event.timeline-side == 'right' %}
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
	      <span class="time-wrapper">
                <span class="time neumorphism-card">{{event.date}} with {{event.by}}</span>
              </span>
              <span class="flag">
		<div class="picture-container">
	      	  <div class="polaroid" data-aos="zoom-in-left" data-aos-duration="3000">
		    <img src={{event.img}} />
		    {{event.quote}}
		  </div>
		</div>
              </span>
            </div>
          </div>
	  <hr/>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
